[Unit]
Description=Prometheus MongoDB Exporter
Documentation=https://github.com/percona/mongodb_exporter
After=network.target

[Service]
Type=simple

ExecStart=/usr/bin/mongodb_exporter \
 --web.listen-address=:9103 \
 --mongodb.uri=mongodb://127.0.0.1:27017
SyslogIdentifier=mongodb_exporter

Restart=always

[Install]
WantedBy=multi-user.target
