[Unit]
Description=Prometheus server daemon
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/etc/prometheus/prometheus \
          --config.file "/etc/prometheus/prometheus.yml" \
          --storage.tsdb.path "/etc/prometheus/data" \
          --storage.tsdb.retention=15d \
          --web.console.templates="/etc/prometheus/consoles" \
          --web.console.libraries="/etc/prometheus/console_libraries" \
          --web.max-connections=512 \
          --web.listen-address "0.0.0.0:9090"
Restart=on-failure

[Install]
WantedBy=multi-user.target
