[Unit]
Description=Prometheus Redis Exporter
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/etc/prometheus/redis_exporter \
-redis.addr localhost:6379

[Install]
WantedBy=multi-user.target
